html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+29,ede8e2+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #ffffff 29%,
    #ede8e2 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #ffffff 29%,
    #ede8e2 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #ffffff 29%,
    #ede8e2 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ede8e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
